/* -----------
full body font style
----------------- */
body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}
/*------ common style----- */

body{font-family: 'Poppins', sans-serif;
background-color: white;}

  /*-------- navigation tag design------ */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 40px;
}
.first-heading{ margin-left: 50px;}
.navigation-bars>a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-right: 35px;
}
/*-------- navigation tag design ending--------*/


/* ----First section contain with text and photo----- */
.starting-section,.creative-part{
    display:flex;
    margin: 40px 100px;
    justify-content: space-between;
}
.main-headline{
    font-size: 30px;
}
#first-pragragh{
    font-size: 18px;
}
.first-button{
    border: 1px solid whitesmoke;
    width: 180px;
    background-color: #E02C6D;
    padding: 10px;
    border-radius: 40px;
    color: white;
    font-size: 18px;    
}
.main-camera:hover{transform: scale(1.1) skew(-20deg);
    transition: transform 1s ease-in-out;
}
/* ----First section contain with text and photo   ended----- */


hr{
    border: 1px solid #EAEEF2;
    width: 70%;
    margin-top: 60px 0 0 20px;
}
/* --------divition of compani----------- */
.companies{
    display: flex;
    justify-content: space-around;
    margin-left: 250px;
    margin-top: 35px;
    width: 840px;
}


/* --------divition of compani ended----------- */


/* -----------products photo and details-------------- */
.product-heading{
    text-align: center;
    margin-top: 100px;
    }
.product-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
     margin: 50px;
    }
.product{
    color: black;
    background-color: white;
    border: 1px solid lightyellow;
    width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px  gray;  
    margin-bottom: 50px;  
    
}
.product-name{
    margin-left: 20px;
}

.product-rating{
    margin-left: 20px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.color {
    color: #FB8200;
}
.fa-star.empty{
    color: white;
}
.discription{
    color: lightslategray;
    font-size: 16px;
    margin-left: 20px;
}
button{
    color: #E02C6D;
    font-size: 18px;
    padding: 0;
    border: none;
    background: none;
}
.moor-products{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 50px;
}
/* -----------products photo and details ended-------------- */
  

 /*----------------design of creative part--------- */
.up-comming-product>h1{
    color: black;
    font-weight: 800;
    font-size: 35px;
    margin-left: 60px;    
}
.up-comming-product>p{
    color: #7F7F7F;
    margin-left: 60px;
    font-weight: 600;
}
.up-comming-product>input{
    background-color: #E02C6D;
    color: white;
    padding: 10px;
    width: 150px;
    border: 1px solid white;
    margin-left: 60px;
    font-size: 18px;
}
/*----------------design of creative part ended--------- */




/*----------------------footer decoration---------- */
  
.footer{
    width: 1350px;
    height: 200px;
    background-color: #0A0826;
    text-align: center;    
}
.footer-headline, .footer-site{
    color: white;
}
.footer-font{
    color: white;
    font-size: 18px;
    word-spacing: 30px;
}


/* ----------------mobile devivce---------- */
  
@media only screen and (max-width:688px){
    
    .navigation{
        width: 100%;
        justify-content: center;
        }
   header>.navigation>.navigation-bars{
       display: none;
   }  
   .starting-section{
       flex-direction: column;
    align-items: center;
    justify-content: center;
   }   
.companies{
    display: none;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
    
   
}




